<form action="/answer" method="get" data-turbo="false">
  <div class="d-flex">
    <label for="question" class="form-label">Your question</label>
    <input type="text" id="question" class="form-control" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
